{% extends  'base.html'%}
{%block content%}

<h1> <b>Prescriber Details </b></h1>

<h2>{{resultset.fname}} {{resultset.lname}} - {{resultset.specialty}}</h1>
<h4>Licensed to prescribe opioids:  {{resultset.isopioidprescriber}}

</h4>
<h4>Gender: {{resultset.gender}}</h4>
<h4>State: {{resultset.state}}</h4>

<br>
<h3>Top Prescriptions </h3>
<div>
    <table style="width:600px; border: 1px solid black" style="background-color:#FF0000">
        <tr>
            <th>Drug Name</th>
            <th>Opioid</th>
            <th>Prescriptions</th>
        </tr>

        {%for x in pres%}
        <tr>
            <td><a href='{% url 'detailsdrugs' drugid=x.drugid %}'>  {{x.drugname}} </a></td>
            <td>
                {% if x.isopioid == t %}
                True
                {% else %}
                False
                {% endif %}
            </td>
            <td>{{x.totaldrugs}} </td>
        </tr>
        {%endfor%}
        
    </table>
</div>


<div>
    <img src="data:image/png;base64, {{prescriptions_chart|safe}}"
    <br>
    <p>Write Paragraph About Prescriptions? In 2014, opioid prescriptions were filled.</p>
    <br>
</div>

<div>
    <img src="data:image/png;base64, {{opioid_pie_chart|safe}}"
    <br>
    <br>
</div>


<h1>Details go here </h1>
{% endblock%}