{% extends  'base.html'%}
{%block content%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% comment %} Page contains details related to a tutor. Including location, gender and the subjects they teach, etc {% endcomment %}
<h1> <b>Tutor Details </b></h1>

<div class="container">
    <div class="d-flex">

        <div>
                <div style="background-color:lightgray!important; padding: 1rem; border-radius: 1rem; margin: 1rem 2rem 0rem 0rem; width: 25rem;">
                    <h3> Edit Tutor </h3>
                    <input style="height: 2.5rem; width: 2.5rem; margin: auto;" type="radio" name='x' id="radioedit" onclick="switchedit();"> 
                 <h3> Add Appointment </h3>
                   <input style="height: 2.5rem; width: 2.5rem; margin: auto;" type="radio" name='x' id="triple" onclick="tripleedit();"> 
                   <h3> View Tutor Details </h3>
                   <input style="height: 2.5rem; width: 2.5rem; margin: auto;" type="radio" name='x' id="triple" checked onclick="tripleedit();"> 
                </div>

        </div>

        <div>
            <div style="background-color:#A7C7E7!important; padding: 1rem; border-radius: 1rem; margin: auto; margin-top: 1rem;" id="presriberedit">
                <div>
                    <h1> Tutor Details </h1> 
                    
                    <div class="d-flex">
                        <h2>{{resultset.fname}} {{resultset.lname}} - {{resultset.specialty}}</h1>
                    </div>
    
                    <div>
                        <h3>State: {{resultset.state}}</h3>
                    </div>
                    <div >
                        <h3>Gender:  {% if resultset.gender == 'M' %}
                                    Male 
                                    {%endif%}
                                    {% if resultset.gender == 'F' %}
                                    Female 
                                    {%endif%}
                    </div>
                    <h3>Verified:  {{resultset.isopioidprescriber}} </h3>
                    <div>
                        <h3>Current Subjects:
                            {% for x in subs%}
                            {{x.subject_name}}
                            {%endfor%} 
                        </h3>
                    </div>
                </div>
            </div>

            <div  style="background-color:#A7C7E7!important; padding: 1rem; border-radius: 1rem; margin: auto; margin-top: 1rem; width: 40rem; display: none; " id="tripleform">
                <form name="tripleadd" action="{% url 'details' tutorid=resultset.tutor_id  %}"  method="get">
                    <div  >
                        <form method='GET' name='tripladd' action='{%url 'details' tutorid=resultset.tutor_id  %}'>
                        <div style='display : inline-block;'><h2>Add New Student or Increment Appointments</h2> </div>
                        </form>
                        
                                

                        <div>
                            <h3 for="drug">Student</h3>
                            <select required class="form-control" name="drug" id="drug" >
                                <option value="" selected></option>
                                {% for s in student%}
                                <option value="{{s}}">{{s.fullname}}</option>
                               
                                {%endfor %}
                            </select>
                            
                         
                        </div>
                        <div>
                            <h3 for="qty">Number of Appointments</h3>
                            <input type="number" class="form-control" id="quantity" name="qty" min="1">                            
                        </div>

                        
                        <button type="submit" style="margin-left: 42.5%; margin-top: 1.5rem;" name="tripleadd" class="btn btn-primary btn-xl text-uppercase ">Add</button>
                    </div>
                    <br>
                </form>        
            </div>

            <div style="background-color:#A7C7E7!important; padding: 1rem; border-radius: 1rem; margin: auto; margin-top: 1rem; width: 40rem; display: none; " id="prescriberform">
                <form name="prescriberform" action="{% url 'details' tutorid=resultset.tutor_id  %}"  method="get">
                    <div class= >
                        <form method='GET' name='delpres' action="{%url 'details' tutorid=resultset.tutor_id %}">
                        <div style='display : inline-block;'><h2>Update Tutor Details </h2> </div><div style='display:inline-block;float:right;padding-top:22px;'><button type='submit' name='despres'  style='background-color: #A7C7E7;overflow-x:auto;' class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg></button></div>
                        </form>
                        <div >
                            <h3 for="firstname">First Name</h3>
                            <input required class="form-control" type="text" value="{{resultset.fname}}" name="firstname" >
                    
                        </div>
                        
        
                        <div>
                            <h3 for="lastname">Last name</h3>
                            <input required class="form-control" type="text" value="{{resultset.lname}}" name="lastname" >
                        </div>
        
                        <div>
                            <h3 for="state">State</h3>
                            <select required class="form-control" name="state" id="state">
                                {% for s in states%}
                                {% if s == resultset.state %}
                                
                                <option value="{{s}}" selected >{{s}}</option>
                                {%else%}
                                <option value="{{s}}">{{s}}</option>
                                {%endif%} 
                                {%endfor %}
                            </select>
        
                        </div>

                        <div>
                            <h3 for="specialty">Degree</h3>
                            <select required class="form-control" name="specialty" id="specialty">
                              
                                {% for s in spec%}
                                {% if s == resultset.degree %}
                                <option value="{{s.degree}}" selected >{{s.degree}}</option>
                                {%else%}
                                <option value="{{s.degree}}">{{s.degree}}</option>
                                {%endif%} 
                                {%endfor %}
                            </select>
        
                        </div>
        
                        <div >
                            <h3>Gender</h3>
                            {% if resultset.gender == 'M' %}
                            <input required style="height: 2.5rem; width: 2.5rem;" type="radio" id="male" value="M" name="gender" checked >
                            <label for="gender">Male</label>
                            
                            <input  style="height: 2.5rem; width: 2.5rem; margin-left: 2rem;" type="radio" id="female" value="F" name="gender" >
                            <label for="gender">Female</label>
                    
                            {% elif resultset.gender == 'F' %}
                            <input required style="height: 2.5rem; width: 2.5rem;" type="radio" id="male" value="M" name="gender" >
                            <label for="gender">Male</label>
                            
                            <input style="height: 2.5rem; width: 2.5rem; margin-left: 2rem;" type="radio" id="female" value="F" name="gender" checked >
                            <label for="gender">Female</label>
                            
                            {%endif%}
                            
        
                        </div>
                        <button type="submit" style="margin-left: 42.5%; margin-top: 1.5rem;" name="prescriberform" class="btn btn-primary btn-xl text-uppercase ">Update</button>
                    </div>
                    <br>
                </form>
                    
                        <table>
                                <thead><h2>Add Subject </h2><h4>Currently Held</h4> </thead>
                                {% for x in subs%}
                                <form method = 'POST' name='delform' action="{% url 'details' tutorid=resultset.tutor_id%}">
                                    {% csrf_token %}  
                                <input hidden value={{x.sub_id.subject_name}} name='del' id='del'></input>
                                <tr><td>{{x.sub_id.subject_name}}</td> <td><button type='submit' style='background-color: #A7C7E7;' class="btn"><i class="fa fa-close"></i></button></td></tr>             
                            </form>
                                {%endfor%} 
                            </table>
                        

                        <form method = 'POST' name='credform' action="{% url 'details' tutorid=resultset.tutor_id%}">
                            {% csrf_token %}
                <h3 for="credential">Subject</h3>
                <select class="form-control" name="credential" id="credential">
                    
                    {%for cred in subjectpass%}
                    <option value="{{cred}}" >{{cred}}</option>
                    {%endfor%}
                </select>
                <button type="submit" style="margin-left: 45%; margin-top: 1.5rem;" name="credform" class="btn btn-primary btn-xl text-uppercase ">Add</button>
        
                </div>
                    </form>
            </div>


        </div
 

        </div>

        
    </div>

    



    {% if bHasTriple == True %}
    <div style="margin: auto; margin-top: 2rem; width: 60rem;">
      <div style='height:30px; width:500px'>  <h3 style='display:inline-block;vertical-align:middle'>Top Students </h3>  <div style='display:inline-block;float:right;vertical-align:middle;' >  </div></div><br>
        <table class="table table-sm table-bordered table-striped table-hover ">
            <tr>
                <thead>
                    <th>Student Name</th>
                    {% comment %} <th>Opioid</th> {% endcomment %}
                    <th>Number of Appointments</th>
                </thead>
            </tr>
            
            {%for x in pres %}
            <tr>
                <td><a href="{% url 'det' tutorid=resultset.tutor_id dn=x.stud_id %}">  {{x.fullname}} </a></td>
                
                <td>{{x.totalappointments}} </td>
                <td style='width:150px'> {%comment%}'det' prescid=x.npi dn=x.drugname  {%endcomment%}
                    <form method='GET'  action="{% url 'det' tutorid=resultset.tutor_id dn=x.stud_id %}"> 
                        <input  style='width:50px'type="number" min="1" name='presctot'>
                        <button class=" btn btn-primary" type=submit >Add</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            
        </table>
    </div>
    
    

    {% else %}

    <div style="margin: auto; margin-top: 2rem; width: 60rem;">
        <div class="w3-row-padding">
            <div class="w3-col m4 w3-margin-bottom">
                <h3>This Tutor has no students to display</h3>
            </div>
        </div>
    </div>
    {% endif %}


</div>

{% endblock%}