{% extends  'base.html'%}
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% comment %} <h1 class="">Home</h1> {% endcomment %}
{% block Home %}
<div="container">
  <img src="{% static 'img/HomeImage.jpg' %}" style="width:100%" height="800" onclick="onClick(this)" alt="library">
  <div style="position:absolute; top:38%; left:53%;  transform: translate(-50%, -50%); color:#FFFFFF;" >
    <center>
    <h1 style="font-size: 80px;"><b>Broaden Your</b></h1>
    <h1 style="font-size: 125px;"><b>Horizons</b></h1>  
    </center>

  </div>
</div>
{% endblock %}

{%block content%}
<div class="container">

    <div>
      <h2 style="font-size: 60px;">
        Our Goal
      </h2>
      <p style="font-size: 24px; line-height: 2;">
        Learning something new should be fun and exciting not daunting or nerve wracking. Here at Tutor Finder our goal is to help create the best learning environment possible for our students. For us that starts with the right people. With the help of our search feature, we believe we can do just that.
      </p>
    </div>

    <br>


    {% comment %} <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div> {% endcomment %}

      <!-- Contact -->
      <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-black"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid black" class="w3-round">
        <p>Do You need help? Is there any problems with the website? Looking for additional resources? Email here! :) We love meeting new people!</p>
        <form  id="contactsubmit" action="{% url 'index' %}" method="get">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" id="nameemail" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" id="respondemail" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message"  id="messageemail"required>
          </div>
          <button onclick="confirmemail();" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
      </div>

    
</div>
{% endblock%}