{% extends  'base.html'%}
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% comment %} <h1 class="">Home</h1> {% endcomment %}
{% block Home %}
<div="container">
  <img src="{% static 'img/HomeImage.jpg' %}" style="width:100%" height="800" onclick="onClick(this)" alt="Happy Family">
  <div style="position:absolute; top:38%; left:53%;  transform: translate(-50%, -50%); color:#FFFFFF;" >
    <center>
    <h1 style="font-size: 80px;"><b>Stop The Opioid</b></h1>
    <h1 style="font-size: 144px;"><b>Epidemic</b></h1>  
    </center>

  </div>
</div>
{% endblock %}

{%block content%}
<div class="container">
      <h1 class="w3-jumbo"><b>Preventing Opioid Misuse</b></h1>
      <br>

      <div>
        <center>
        <iframe width="60%" height="500" src="https://www.youtube.com/embed/V0CdS128-q4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>


    <div>
      <h2 style="font-size: 60px;">
        The Problem
      </h2>
      <p style="font-size: 24px; line-height: 2;">
        The Opioid Project is utilizing data to help stem the opioid epidemic. The number of drug-involved overdose deaths has more than tripled since 1999 with the majority of deaths caused by opioids. This corresponds with the increase of opioid prescriptions in the late 1990’s and early 2000’s before it became evident that they could be highly addictive. In 2017, the U.S. Department of Health and Human Services declared the Opioid Epidemic a public health emergency.
      </p>
    </div>

    <br>


    {% comment %} <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div> {% endcomment %}

    <div style="display: flex!important;">
      <div>
        <img  src="{% static 'img/total_opioid_deaths.jpeg' %}"  onclick="onClick(this)" alt="Opioid by the Numbers">
      </div>
      <div>
        <img src="{% static 'img/deaths_by_drug.jpeg' %}"  onclick="onClick(this)" alt="Opioid by the Numbers">
      </div>
    </div>
  
    <br>
    <div>
      <h1>Opioid Epidemic Stats</h1>
    </div>
      
    <br>
      <div style="display: flex!important;">
        <div style="width:100%">
          <table class="table table-striped table-bordered table-hover">
            <tr style="background-color: #A7C7E7;">
              <th> State </th>
              <th> Total Deaths </th>
            </tr>
        
                    {%for x in state_info%}
                    <tr>
                      <td>{{x.state}}</td>
                      <td>{{x.deaths}}</td> 
                    </tr>
        
                    {%endfor%}
            <tr>
              <b>
                <th> USA Total </th>
                <th> {{total_deaths}} </th>
              </b>
            </tr>
          </table>      
        </div>
        <div style="margin:2rem; line-height: 2;">
          <p> The states found in the table have the most Opioid related deaths in the nation. Included in the table for each entry is the state name followed by the total number of deaths. Check back often to see any new changes to the top five! </p>
        </div>
      </div>

      <div style="display: flex!important;">
        <div style="margin:2rem; line-height: 2;">
          <p> The following list of drugs are the top 5 most prescribed Opioids so far this year. Included in the chart for each entry is the name of the drug and the total annual prescriptions. Click on a drug name to learn more about it! </p>
        </div>
        <div style="width:100%">
          <table class="table table-striped table-bordered table-hover">
            <tr style="background-color: #A7C7E7;">
                  <th> Top Opioid </th>
                  <th> Annual Prescriptions </th>
                </tr>
                {% for drug in drugs%}
                    <tr>
                      <td><a href="{% url 'detailsdrugs' drugid=drug.drugid %}">  {{drug.drugname}} </a></td>
                      <td>{{drug.totaldrugs}}</td>
                    </tr>
                {% endfor %}
                <tr>
                  <b>
                    <th> Total Opioid Prescriptions </th>
                    <th> {{total_opioids}} </th>
                  </b>
                </tr>
  
            </table>
        </div>
      </div>
      <br>
      <div class="d-flex">
        <div>
        <center>  <img src="{% static 'img/stats.png' %}"" style="width:70%" onclick="onClick(this)" alt="Opioid by the Numbers"></center>
        </div>
      </div>
  



      <!-- Contact -->
      <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-black"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid black" class="w3-round">
        <p>Do You need help? Is there any problems with the website? Looking for additional resources? Email here! :) We love meeting new people!</p>
        <form  id="contactsubmit" action="{% url 'index' %}" method="get">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" id="nameemail" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" id="respondemail" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message"  id="messageemail"required>
          </div>
          <button onclick="confirmemail();" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
      </div>

    
</div>
{% endblock%}