{% extends 'base.html'%}
{%block content%}

<h1>Search</h1>


<div class="container">


    <h2>Search drugs & Prescribers </h2>
    <div class="d-flex justify-content-center">

        <div>
            <label for="searchparam">Prescriber</label>
            <input class="form-control" type="radio" id="prescriberradio" value="prescriber" name="searchparam" onclick="yeet();" checked >
            <label for="searchparam">Drug</label>
            <input class="form-control" type="radio" id="drugradio" value="drug" name="searchparam" >
        </div>


        <div id="prescriberform">
            <form class="d-flex justify-content-center" action="tbd" method="get">

        
                <label for="firstname">First Name</label>
                <input class="form-control" type="text" placeholder="First Name" name="firstname" >
        
                <label for="lastname">Last name</label>
                <input class="form-control" type="text" placeholder="Last Name" name="lastname" >
        
                <label for="gender">Male</label>
                <input class="form-control" type="radio" id="male" value="male" name="gender" >
                <label for="gender">Female</label>
                <input class="form-control" type="radio" id="female" value="female" name="gender" >
                
                <button type="submit" class="btn d-flex justify-content-center">Submit!</button>
            </form>
        </div>

        <div id="drugform" style="display: none;">
            <form class="d-flex justify-content-center" action="tbd" method="get">

        
                <label for="firstname">First Name</label>
                <input class="form-control" type="text" placeholder="First Name" name="firstname" >
        
                <label for="lastname">Last name</label>
                <input class="form-control" type="text" placeholder="Last Name" name="lastname" >
        
                <label for="gender">Male</label>
                <input class="form-control" type="radio" id="male" value="male" name="gender" >
                <label for="gender">Female</label>
                <input class="form-control" type="radio" id="female" value="female" name="gender" >
                
                <button type="submit" class="btn d-flex justify-content-center">Submit!</button>
            </form>
        </div>
        

         <table>

         </table>
    

    </div>


</div>



{% endblock%}