{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Opioid Awareness</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src= "{% static 'js/saturn.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/saturn.css' %}">
<body>

<!-- Sidebar/menu -->

<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Opioid <br>Awareness</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'index' %}" onclick="w3_close();" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="{% url 'search' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Search</a>
    <a href="{% url 'about' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About</a> 
    
    {% comment %} <a href="{% url 'statistics' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Statistics</a>  {% endcomment %}
 
  </div>
</nav>

{% block Home %}
{% endblock %}


<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Opioid Awareness</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      {% comment %} <h1 class="w3-jumbo"><b>Preventing Opioid Misuse</b></h1> {% endcomment %}
      <h1 class="w3-xxxlarge w3-text-red"><b></b></h1>

    </div>

    {% block content %}
    <!-- Header -->

  
  
    
  
  
  
  
    {% endblock %}
    
    
  </div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by tears</p></div>


</body>
</html>
